{% extends 'base.html' %}
{% load markdownify%}

{% block content %}
  <main class="recipe-detail">
  <div>
      <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>
    
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
   
  
  </main>
  {% endblock content %}