{% extends 'base.html' %}


{% block content %}
  <main class="mealplan-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Log In</button>
      </div>
    </form>
  </main>
  {% endblock content %}
