{% extends 'base.html' %}

{% block content %}
<h2>Log in</h2>
<main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Log In</button>
      </div>
    </form>
  {% endblock content %}